*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.box-1-header {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
}

.img-logo {
  object-fit: cover;
}

.menu-navigation1 {
  cursor: pointer;
}

li:nth-child(1):hover,
li:nth-child(2):hover,
li:nth-child(3):hover {
  color: grey;
  transition: 0.3s;
}

.recherche-magasin {
  /* margin-left: 35px;
  margin-right: 35px; */
}

.menu-navigation1 ul {
  display: flex;
  justify-content: space-between;
}

.ul-menu-navigation1 {
  display: flex;
  list-style-type: none;
  font-size: 1.1rem;
  /* margin
  margin-top: 15px; */
}

.menu-navigation2 i {
  font-size: 2.2rem;
  margin-top: 10px;
}

.menu-navigation2 {
  display: flex;
  justify-content: space-between;
}

.fa-instagram,
.fa-facebook-f,
.fa-twitter-square {
  /* padding-left: 15px; */
}

.fa-instagram {
  color: #f09433;
}

.fa-facebook-f {
  color: rgba(98, 43, 226, 0.76);
}

.fa-twitter-square {
  color: blue;
}

.fa-line {
  color: green;
}

.fa-line:hover,
.fa-instagram:hover,
.fa-facebook-f:hover,
.fa-twitter-square:hover {
  transform: translateY(0.2px);
  transition: 0.5s;
  cursor: pointer;
}

/* ----------------------- titre H1 ------------------------------- */

h1 {
  font-size: x-large;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 90px;
  margin-top: 90px;
}

/* ----------------------- image principale -----------------------------*/

.img-principale {
  display: flex;
  align-self: center;
  height: 500px;
  width: 1000px;
  margin: auto;
}

/* --------------------- box regroupant le dépliant et search -------------------------- */

.box-depliant-search {
  display: flex;
  align-self: center;
  /* margin: auto; */
  margin-top: 30px;
  width: 1000px;
}

/* --------------------------------- box image "dépliant" -------------------*/

.box-depliant,
.box-search {
  border: 1px solid rgba(128, 128, 128, 0.404);
  display: flex;
  width: 100%;
  height: 200px;
}

.box-depliant {
  margin-right: 50px;
}

.box-info1,
.box-info2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.suite-depliant a,
.suite-search a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  display: flex;
  justify-content: end;
}
.suite-depliant,
.suite-search {
  list-style-type: none;
}

.suite-depliant a:hover,
.suite-search a:hover {
  color: #800000;
  transition: 0.2s;
}

.h2-depliant,
.h2-search {
  color: #800000;
  padding-bottom: 10px;
  font-size: larger;
}

.h3-depliant {
  padding-bottom: 10px;
  font-size: medium;
}

.p-depliant {
  padding-bottom: 1px;
}

.p-search {
  padding-top: 20px;
  padding-bottom: 10px;
}

/* ---------------------- image de balise section ----------------------*/

.image2,
.image3 {
  width: 100%;
}
.image2-2,
.image3-3 {
  margin-top: 5px;
  width: 475px;
  height: 170px;
}

.box-image-lapin {
  display: flex;
  align-self: center;
  margin-top: 30px;
}

.image2 {
  margin-right: 50px;
}
/* -------------------- ensemble des 4 photos ----------------------------*/
.quatre-photos {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: center;
}

/* -------------------------------------- section partie 3 -------------------*/

.img-lapin-jumelles {
  width: 67%;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* ------------------------------- ensemble des 4 photos -------------------*/

.ensemble-photos4 {
  display: flex;
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.img1,
.img2,
.img3,
.img4 {
  height: 300px;
  width: 253px;
  margin: 10px;
  cursor: pointer;
}

/* -------------------------- image jumelles rouges -----------------------------*/

.box-jumelles {
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: center;
}

.img-jumelles {
  cursor: pointer;
  transform: 0.3s;
}

.img-jumelles:hover {
  margin: 1px;
}

/* --------------------------------- image wear -----------------------------*/

.box-wear {
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: center;
  margin-top: 100px;
}

.img-wear {
  height: 200px;
}

/* ---------------- box ensemlbe des listes de photos --------------*/

.ensemble-liste-photos {
  background-color: rgba(128, 128, 128, 0.137);
  height: 1000px;
}

/* ------------------ section liste de photos ------------------------*/

.ensemble-photo1,
.ensemble-photo2 {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: auto;
}

.img-info1,
.img-info2,
.img-info3,
.img-info4,
.img-info5,
.img-info6,
.img-info7,
.img-info8 {
  object-fit: cover;
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.box-info1-1,
.box-info2-2,
.box-info3,
.box-info4,
.box-info5,
.box-info6,
.box-info7,
.box-info8 {
  background-color: white;
  margin: auto 10px;
  height: 400px;
  margin-top: 25px;
  box-shadow: 4px 4px 8px 2px #00000069;
}

.box-info1-1:hover,
.box-info2-2:hover,
.box-info3:hover,
.box-info4:hover,
.box-info5:hover,
.box-info6:hover,
.box-info7:hover,
.box-info8:hover {
  border: 1px solid rgba(128, 128, 128, 0.432);
}

.titre-info1,
.titre-info2,
.titre-info3,
.titre-info4,
.txt-info1,
.txt-info2,
.txt-info3,
.txt-info4,
.titre-info5,
.titre-info6,
.titre-info7,
.titre-info8,
.txt-info5,
.txt-info6,
.txt-info7,
.txt-info8 {
  padding-left: 20px;
  cursor: default;
}

.titre-info1,
.titre-info2,
.titre-info3,
.titre-info4,
.titre-info5,
.titre-info6,
.titre-info7,
.titre-info8 {
  padding-bottom: 10px;
}

/* ---------------- box quoi de neuf section infos -----------*/

.liste-infos a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  /* justify-content: center;
  display: flex; */
  margin-bottom: 10px;
  font-size: large;
}

.titre-infos {
  display: flex;
  margin-left: 160px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.suite-infos {
  margin-left: 1200px;
  margin-top: 20px;
}

.ligne-1,
.ligne-2,
.ligne-3,
.ligne-4,
.ligne-5 {
  border-top: 1px dashed black;
  width: 1200px;
  padding-left: 50px;
  margin-left: 160px;
  margin-bottom: 15px;
  padding-top: 15px;
}

/* --------------------- box reseaux sociaux -----------------------*/

.menu-navigation3 {
  display: flex;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.082);
  margin-top: 25px;
}

#line,
#twitter,
#fb,
#insta {
  font-size: 80px;
  margin: 50px;
}

/* ------------------- ensemble deux images ---------------------*/

.box-images-2 {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.img1-1,
.img2-2 {
  margin: 30px;
}

/* -------------------- les 7 photos au bas de la page ----------------*/

.ensemble-7-photo {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 25px;
}

.shimamura1,
.shimamura2,
.shimamura3,
.shimamura4,
.shimamura5,
.shimamura6,
.shimamura7 {
  border-left: 1px solid rgba(0, 0, 0, 0.336);
}

.shimamura7 {
  border-right: 1px solid rgba(0, 0, 0, 0.336);
}

/* ------------------- footer -------------------------*/

footer {
  background-color: #ca0336;
  height: 150px;
}

.footer-list a {
  text-decoration: none;
  color: black;
  list-style-type: none;
  margin-top: 50px;
  font-size: larger;
}

.footer-list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

/* ------------------ media queries ------------*/

/* @media only screen and (min-width: 400px) and (max-width: 600px) {
}

.menu-navigation1 {
  position: initial;
  display: flex;
  flex-direction: column;
  margin-top: 80px;

} */
